@{
    ViewData["Title"] = "About";
}

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="heading_container heading_center">
            <h2>
                About <span>Us</span>
            </h2>
            <p>
                Magni quod blanditiis non minus sed aut voluptatum illum quisquam aspernatur ullam vel beatae rerum ipsum voluptatibus
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/images/Water.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h3>
                        We Are Water Company
                    </h3>
                    <p>
                        At Water Company, we are dedicated to providing innovative and sustainable water solutions. Our mission is to ensure that every community and business has access to clean, safe, and reliable water. With years of experience and a team of experts, we offer a range of services tailored to meet the unique needs of our clients.
                    </p>
                    <p>
                        Our team consists of highly skilled professionals with extensive experience in water management and treatment.
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
