@{
    ViewData["Title"] = "Home Page";
}



<!-- slider section -->
<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="detail-box">
                                <h1>
                                    Water Quality <br>
                                    Analysis
                                </h1>
                                <p>
                                    Our comprehensive water quality analysis services ensure that your water meets the highest health and safety standards. Using advanced testing techniques, we monitor and evaluate various water parameters to detect contaminants and ensure compliance with regulatory requirements. Trust us to provide accurate and reliable results, helping you maintain safe and clean water for all uses.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="images/analysis.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="detail-box">
                                <h1>
                                    Sustainable Water <br>
                                    Management
                                </h1>
                                <p>
                                    We offer expert strategies and consultancy to promote efficient water use and conservation. Our services help businesses and communities implement sustainable practices, reduce water waste, and ensure long-term water availability. Partner with us to achieve your sustainability goals and contribute to a healthier planet.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="images/sustainable.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="detail-box">
                                <h1>
                                    Water Treatment<br>
                                    Solutions
                                </h1>
                                <p>
                                    We provide advanced technologies and services for water purification and treatment. Our solutions include state-of-the-art filtration and disinfection systems designed to ensure safe, clean water for various applications. Trust our expertise to deliver reliable and efficient water treatment solutions that meet your specific needs and regulatory standards.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="images/water treatment.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
    </div>

</section>
<!-- end slider section -->
<!-- service section -->

<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Our <span>Services</span>
                </h2>
                <p>
                    Delivering sustainable water solutions for a healthier planet.
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/water-filter.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Sustainable Water Management
                            </h5>
                            <p>
                                We provide expert strategies and consultancy to promote efficient water use and conservation. Our services help businesses and communities minimize water waste and implement sustainable practices.
                            </p>
                            <a href="">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/treatment.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Water Treatment Solutions
                            </h5>
                            <p>
                                We offer advanced technologies and services for water purification and treatment, including state-of-the-art filtration and disinfection systems. Our solutions ensure safe, clean water for various applications, promoting health and sustainability.
                            </p>
                            <a href="">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/drink-water.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Water Quality Analysis
                            </h5>
                            <p>
                                We provide comprehensive testing and monitoring services to ensure water meets health and safety standards. Our expert team uses advanced techniques to analyze water quality, helping to maintain safe and clean water for all uses.
                            </p>
                            <a href="">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View All
                </a>
            </div>
        </div>
    </div>
</section>

<!-- end service section -->
<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="heading_container heading_center">
            <h2>
                About <span>Us</span>
            </h2>
            <p>
                Magni quod blanditiis non minus sed aut voluptatum illum quisquam aspernatur ullam vel beatae rerum ipsum voluptatibus
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="images/Water.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h3>
                        We Are Water Company
                    </h3>
                    <p>
                        At Water Company, we are dedicated to providing innovative and sustainable water solutions. Our mission is to ensure that every community and business has access to clean, safe, and reliable water. With years of experience and a team of experts, we offer a range of services tailored to meet the unique needs of our clients.
                    </p>
                    <p>
                        Our team consists of highly skilled professionals with extensive experience in water management and treatment.
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- why section -->

<section class="why_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Why Choose <span>Us</span>
            </h2>
        </div>
        <div class="why_container">
            <div class="box">
                <div class="img-box">
                    <img src="images/w1.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Expert Management
                    </h5>
                    <p>
                        Our team of experienced professionals ensures efficient and sustainable water management solutions tailored to your needs.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="images/w2.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Secure Investment
                    </h5>
                    <p>
                        Investing in our water treatment technologies guarantees long-term benefits and compliance with environmental standards.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="images/w3.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Innovative Solutions
                    </h5>
                    <p>
                        We leverage the latest technologies and innovative approaches to deliver cutting-edge water management and treatment solutions. Our commitment to innovation ensures that we provide the most effective and efficient services to meet the evolving needs of our clients.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="images/w4.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Instant Support:
                    </h5>
                    <p>
                        We provide immediate and expert support for all your water quality and treatment needs, ensuring uninterrupted service.
                    </p>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                Read More
            </a>
        </div>
    </div>
</section>

<!-- end why section -->
<!-- team section -->
<section class="team_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container heading_center">
            <h2 class="">
                Our <span> Team</span>
            </h2>
        </div>

        <div class="team_container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/team-1.jpg" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Joseph Brown
                            </h5>
                            <p>
                                Water Operations Director
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/team-2.jpg" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Nancy White
                            </h5>
                            <p>
                                Environmental Engineer
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/team-3.jpg" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Earl Martinez
                            </h5>
                            <p>
                                Water Treatment Manager
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/team-4.jpg" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Josephine Allard
                            </h5>
                            <p>
                                Water Resources Specialist
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end team section -->
<!-- client section -->

<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                What says our <span>Customers</span>
            </h2>
        </div>
        <div class="carousel-wrap ">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/client1.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        LusDen
                                    </h6>
                                    <p>
                                        magna aliqua. Ut
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                "The quality of water provided by the company has been outstanding. Since we connected to the service, we've noticed a significant improvement in our drinking water, which makes all the difference for our family's health."
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/client2.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        Zen Court
                                    </h6>
                                    <p>
                                        magna aliqua. Ut
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                "Working with the water treatment team has been a valuable partnership. They show a strong commitment to sustainability and ensure continuous, high-quality supply for our city."
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/client1.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        LusDen
                                    </h6>
                                    <p>
                                        magna aliqua. Ut
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                "The quality of water provided by the company has been outstanding. Since we connected to the service, we've noticed a significant improvement in our drinking water, which makes all the difference for our family's health."
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/client2.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        Zen Court
                                    </h6>
                                    <p>
                                        magna aliqua. Ut
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                "Working with the water treatment team has been a valuable partnership. They show a strong commitment to sustainability and ensure continuous, high-quality supply for our city."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->