@{
    ViewData["Title"] = "WhyUs";
}

<!-- why section -->

<section class="why_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Why Choose <span>Us</span>
            </h2>
        </div>
        <div class="why_container">
            <div class="box">
                <div class="img-box">
                    <img src="~/images/w1.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Expert Management
                    </h5>
                    <p>
                        Our team of experienced professionals ensures efficient and sustainable water management solutions tailored to your needs.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/images/w2.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Secure Investment
                    </h5>
                    <p>
                        Investing in our water treatment technologies guarantees long-term benefits and compliance with environmental standards.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/images/w3.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Innovative Solutions
                    </h5>
                    <p>
                        We leverage the latest technologies and innovative approaches to deliver cutting-edge water management and treatment solutions. Our commitment to innovation ensures that we provide the most effective and efficient services to meet the evolving needs of our clients.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/images/w4.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Instant Support:
                    </h5>
                    <p>
                        We provide immediate and expert support for all your water quality and treatment needs, ensuring uninterrupted service.
                    </p>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                Read More
            </a>
        </div>
    </div>
</section>

<!-- end why section -->
